%h1 Tasks

%table.table.table-hover.table-condensed
  %tr
    %th Project
    %th Tracker

  - @projects.each do |project|
    %tr
      %td= project.name
      %td= link_to "Tracker Story", project.url, target: "_blank"

