=form_for(@project) do |f|
  .field
    =f.label :name
    =f.text_field :name

  .field
    =f.label "Project Type"
    =f.select :project_type, ["Social Network", "Ecommerce", "Blog"]

  .field
    =f.label "Brief description of this project"
    =f.text_area :about, :rows => "5"

  .field
    =f.label "Tracker URL"
    =f.text_field :url


  .field
    =f.label "Github repo URL"
    =f.text_field :repo

  .actions
    =f.submit "Create Project Journal"