.row-fluid
  .span12
    %header
      %section.headline
        %h1.tk-museo-slab Learning to code?
        %h2 Start a project-based code journal
      %section.signup
        %h1.tk-museo-slab Sign up for a free account

        - if current_user
          %button.btn.btn-warning.btn-block.btn-large= link_to 'View Projects', '/projects'
        - else
          %button.btn.btn-block.btn-large= link_to 'Prove It!', '/auth/twitter'

    %footer
      %section.left-column.span6
        %h2.tk-museo-slab About
        %p As a programmer, you need to know a lot about a lot of things. With a Code Journal you document progress while scratching an itch. You will get help from mentors and create a record of important topics to reference later.
        %h2.tk-museo-slab Get mentored (coming soon.)
        %p Receive faster responses from mentors who follow your project.

      %section.right-colum.span6
        %h2.tk-museo-slab Learn by Building
        %p Don't get lost in the theroy. Build something and learn on the go. Keeping your focus on a project makes everything you learn significant.
        %h2.tk-museo-slab Document your progress
        %p Because you are learning so much every day you need a way to easily recall those small but important details. Don't relearn an old issue from scratch!