.row-fluid
  .span12
    %header
      %section.headline
        %h1.tk-museo-slab Learning to code?
        %h2 Start a project-based code journal
      %section.signup
        %h1 Sign up for a free account
        %button.btn.btn-block.btn-large= link_to 'Prove It!', '/auth/twitter'


    %footer
      %section.left-column.span6
        %h2 About
        %p Programmers need to know a lot about a lot of things. The best way to learn is to build something.
        %p Code Journal easily and clearly documents where you are so that you can get help from the community.
        %h2 Get mentored
        %p Mentors can follow your project and will get notified when you post a question or issue. Receive faster responses to relevant questions.

      %section.right-colum.span6
        %h2 Learn by building something
        %p Since everything is new, it's best that your knowledge is immedately applicble to real-world issues. Now is not the time to discuss theory or potential. By focusing on a project, everything you learn will be solving a real problem.
        %h2 Document your progress
        %p Because you are learning so much every day you need a way to easily recall those small but important details. Don't try to resolve an old issue!