%h1 Goals

%table.table.table-hover.table-condensed

  %tr
    %th Goal
    %th Project


  - @goals.each do |goal|

    %tr
      %td= link_to goal.goals, goal
      %td= goal.project

.btn=link_to 'new goal', new_goal_path

