@import "bootstrap";

$grayMediumLight: #eaeaea;


body{
background-image:url('striped_lens.png');
}

.container-fluid{
  width: 70%;
  margin: 0 auto;
  padding: 3%;
  background: white;
}

#flash_notice{
  padding: .5%;
  margin: .5%;
  background: #ffff99;
  border: 1px solid $grayMediumLight;
  width: 70%;
  float: left;
}

.eyebrow-nav{
  margin: 1.5%;
  ul{
  display: inline;
  margin: .5%;
  }
  text-align: right;
}

.navbar{
  margin: 1% 0 0 0;
}
.btn-group{
  float: right;
}

.row-fluid{
  width: 80%;
  margin: 0 auto;
}
