@import "bootstrap";

body{
background-image:url('striped_lens.png');
}

.container-fluid{
  width: 70%;
  margin: 0 auto;
  padding: 3%;
  background: white;
}

.user-links{
  ul{
  display: inline;
  margin: .5%;
  }
  text-align: right;
}

.navbar{
  margin: 1% 0 0 0;
}
.btn-group{
  float: right;
}

.row-fluid{
  width: 80%;
  margin: 0 auto;
}

footer{
  background: gray;
  padding: 5%;
  margin: 5% 0 0 0;
  overflow: auto;
}