@import "bootstrap";

$grayMediumLight: #eaeaea;

h1.tk-museo-slab{
  font-family: "museo-slab",serif;
  font-weight: 700;
  color: #3a3329;
}

p {
  font-family: "museo",serif;
  font-weight: 300;
}

body{
background-image:url('striped_lens.png');
}

.container-fluid{
  width: 68.2%;
  margin: 0 auto;
  padding: 3%;
  background: white;
  @include box-shadow(0 0 5px #e4e4e4);
  @include border-radius(3px)
}

#flash_notice{
  padding: .5%;
  margin: .5%;
  background: #ffff99;
  border: 1px solid $grayMediumLight;
  width: 40%;
  float: left;
}

.eyebrow-nav{
  margin: 1.5%;
  ul{
  display: inline;
  margin: .5%;
  }
  text-align: right;
}

.navbar{
  margin: 1% 0 0 0;
}
.btn-group{
  float: right;
}

.row-fluid{
  width: 80%;
  margin: 0 auto;
}

img.span5{
  width: 200px;
}
