body.home{
  background: url(background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home{
  .headline{
    h1{
      color: #3a3329;
      font-size: 7em;
      margin: 2%;
      padding: 3%;
      text-align: center;
      text-shadow: 1px 1px 2px black;
      font-family: "museo-slab",serif;
    }
    h2{
      font-family: georgia, serif;
      text-align: center;
      font-style: italic;
    }
  }
  .signup{
    background: rgba(203,226,216,.8);
    padding: 5% 2%;
    margin: 3%;
    @include border-radius(8px);
    @include box-shadow(inset 0px 0 18px rgb(174,194,186));
    border: 1px solid rgb(174,194,166);
    h1{
      float:left;
    }
    button{
      width: 40%;
      float: right;
    }
    overflow: auto;
  }
  footer{
    width: 100%;
    overflow: auto;
    background: rgba(0,0,0,.5);
    margin: 5% 20% 0 -20%;
    padding: 5% 20%;
    @include box-shadow(3px 0 3px black);
    h1, h2{
      color: white;
    }
    p{
     color:  white;
     font-size: 1.2em;

    }

  }

}

